@charset "UTF-8";


/*Keeps boxes within rows, even with padding*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*This allows us to see the grid currently*/
.grid {
  background-color: brown;
}


.grid:after {
  /* This is making the grid expand to contain the floated columns*/
  content: "";
  display: table;
  clear: both;
}


[class*='column-'] {
  /* This is the rule that is defining all of the properties of the columns, it selects everything with a class name that contains 'column-' */
  float: left;
  padding-right: 50px;
  border:.5px dashed black;
  margin:auto;
}


[class*='column-']:last-of-type {
  /* This selects the last column and tells it not to add padding on the right */
  padding-right: 0;
}


/*Grid Columns*/
.column-2-3 {
  width: 66.66%
}

.column-1-3 {
  width: 33.33%
}

.column-1-12 {
  width: 8.33%
}

.column-2-12 {
  width: 16.66%
}

.column-3-12 {
  width: 25%
}

.column-4-12 {
  width: 33.33%
}

.column-5-12 {
  width: 41.66%
}

.column-6-12 {
  width: 50%
}

.column-7-12 {
  width: 58.33%
}

.column-8-12 {
  width: 66.66%
}

.column-9-12 {
  width: 75%
}

.column-10-12 {
  width: 83.33%
}

.column-11-12 {
  width: 91.66%
}

.column-12-12 {
  width: 100%
}

* {
	font-family:"Droid Serif", serif;
}

h1,h2, h3, h4, h5, h6 {
	font-family:"Din Condensed", "Courier New", Courier, monospace;
	text-align:center;
}

body {
    background-image:url(../images/wrapper-background.png);
    background-color: #cccccc;
}

/*Nav Formatting*/
header {position: fixed;
		margin-top:0px;
		width: 100%;
}

nav li{
	display:inline;
    float: left;
	font-family:"din condensed",sans-serif;
	text-decoration:none;
	text-align:right;
	text-justify:auto;
}

nav li a{
    display: block;
    width: 100px;
}

/*Image formatting*/

.wrapper {
	width:100%;
	margin: 0 auto;
}

.logo {
   position: absolute;
   top: 50%;
   left: 50%;
   width:inherit;
   height:inherit;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}

/*Text block formatting--from the grounds up*/
.about h2{
	text-align:center;
	font-family:"DIN CONDENSED",sans-serif;
}


/*formatting for product section*/

.featuredcoffee p{
	text-align:center;
}

button{
	float:left;
}

.packageimage {
	height: 300px; 
	width:200px;
	margin:0;
}

@media screen and (max-width: 700px) {
.grid {background: brown;}}
/* CSS Document */

